/* Swiper pagination styling */
:root {
  --swiper-pagination-bullet-width: 16px;
  --swiper-pagination-bullet-height: 16px;
  --swiper-pagination-bullet-inactive-color: #fff;
  --swiper-pagination-bullet-inactive-opacity: 0.8;
  --swiper-pagination-color: #a5a6f6;
  --swiper-pagination-bullet-opacity: 1;
  --swiper-pagination-bullet-horizontal-gap: 4px;
  --swiper-pagination-bullet-vertical-gap: 16px;
}

.swiper-container {
  @apply max-h-screen min-h-screen  sm:max-h-[45.75rem] sm:min-h-[45.75rem] !important;
}

/* Slider Pagination  */
.swiper-pagination {
  @apply bottom-12 left-8 md:left-16 xl:left-24  text-left !important;
}

/* Swiper Navigation */
.swiper-button-next,
.swiper-button-prev {
  @apply text-white top-[52%] hover:stroke-primary-60 hover:fill-primary-60 hover:text-primary-60 duration-200 ease-linear transition-colors !important;
}
